.allure
schema
__pycache__/
*/__pycache__/
allure-results/
verify-testops-results*/
verify-russian-results*/
verify-testops-no-duplicates*/
verify-testops-priority*/
pytest-cache-files-*/
/*/allure-results/
out

#IDEA Files
.idea/*
*.iml
*.ipr

#Eclipse files
*.settings
*.classpath
*.project
*.pydevproject

#Mac OS stuff
.DS_Store

#Netbeans files
/.nb-gradle/
